@import '~office-ui-fabric-react/dist/sass/References.scss';

.helloWorld {
  background: #f1f1f1;

  input[type=checkbox]{
    transform: scale(1.5);
  }
  hr{
    border: 0.5px solid #333333;
    margin-left: 18px;
    margin-right: 18px;
  }
  h5{
    margin-left: 18px!important;
    margin-top: 10px!important;
  }
  .toolbarAlign{
    margin-right: 36px;
    margin-top: 5px;
  }
  .toggleicon{
    margin-top:5px;
  }
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }
  .contact-header-container{
    background-color: #003;
  }
  .contact-header{
    background-color: #003;
    height: 26px;
    color: #fff;
    font-size: 15px;
    margin: 0 0 0 0;
    padding-top: 11px;
    margin-left: -4px;
    padding-left: 0px;

  }
  .decesased-flex{
    display: flex;
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    // background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .togglespan{
    color: black;
  }
  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }
  .col-1{
    @include ms-Grid-col;
    @include ms-lg1
  }
  .col-2{
    @include ms-Grid-col;
    @include ms-lg2
  }
  .col-3{
    @include ms-Grid-col;
    @include ms-lg3
  }
  .col-4{
    @include ms-Grid-col;
    @include ms-lg4
  }
  .col-5{
    @include ms-Grid-col;
    @include ms-lg5
  }
  .col-6{
    @include ms-Grid-col;
    @include ms-lg6
  }
  .col-7{
    @include ms-Grid-col;
    @include ms-lg7
  }
  .col-8{
    @include ms-Grid-col;
    @include ms-lg8
  }
  .col-9{
    @include ms-Grid-col;
    @include ms-lg9
  }
  .col-10{
    @include ms-Grid-col;
    @include ms-lg10
  }
  .col-11{
    @include ms-Grid-col;
    @include ms-lg11
  }
  .col-12{
    @include ms-Grid-col;
    @include ms-lg12
  }

  .align-center{
    text-align: center;
  }

  .form-control{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .label{
    color: black;
  }

  .ms-TextField{
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-shadow: none;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
    .ms-Label{
      margin: 0;
      padding: 0;
      box-shadow: none;
      color: #333;
      font-size: 12px;
      box-sizing: border-box;
      display: block;
      padding: 5px 0;
    }
    .ms-TextField-field{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      box-shadow: none;
      border: 1px solid #333333;
      border-radius: 0;
      font-weight: 300;
      font-size: 14px;
      color: #333;
      height: 32px;
      padding: 6px 12px 7px;
      width: 100%;
      outline: 0;
      text-overflow: ellipsis;
    }
    .ms-TextField-field-textarea{
      min-height: 100px;
      //background: #ffcccc;
    }
  }

  .ms-CheckBoxField{
    display: inline-block;
    .ms-Label{
      margin: 0;
      padding: 0;
      box-shadow: none;
      color: #333;
      font-size: 12px;
      box-sizing: border-box;
      display: block;
      padding: 5px 0;
    }
    .ms-TextField-field{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      box-shadow: none;
      border: 1px solid #c8c8c8;
      border-radius: 0;
      font-weight: 300;
      font-size: 14px;
      color: #333;
      height: 32px;
      padding: 6px 12px 7px;
      width: 100%;
      outline: 0;
      text-overflow: ellipsis;
    }
    span{
      color:black;
      vertical-align: top;
    }
  }

  .align-checkbox{
    padding-top: 30px;
  }
  .formHeading{
    h5{
      margin-left: 0!important;
    }
    margin: 0px;
    color: black;
    padding-bottom: 0;
  }

  .paddingTopZero{
    padding-top:0;
  }

  .margin-icon{
    margin-left: 8px;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .type-Ahead{
    input[type=text]{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      box-shadow: none;
      border: 1px solid black;
      border-radius: 0;
      font-weight: 300;
      font-size: 14px;
      color: #333;
      height: 32px;
      padding: 6px 12px 7px;
      width: 100%;
      outline: 0;
      text-overflow: ellipsis;
    }
  }

  .preffered-sign{
    right: 0;
    float: right;
    margin-bottom: 45px;
    margin-top: -35px;
    max-width: 40px;
    margin-right: 52px;
  }

  .scroll-table{
    max-height: 150px;
    max-width: 1115px;
    overflow-y: scroll;
    padding-right: 3px;
    margin-right: 0px;
    margin-top: -5px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }
  .table-input-signaturies{
    display: flex;
    max-height: 33px;
    input[type=text]{
      min-width: 500px;
    }
    .margin-icons{
      margin-left: 1rem;
    }

  }
  .table-input{
    margin-bottom: 0px;
    max-width: 96%;
  }
  // tables custome css start


  .comments-Tabel{


    .table-Head{
     color: #333;
     font-family: Helvetica, Arial, sans-serif;
     border-collapse: collapse;
     border-spacing: 0;
     width: 100%;
     thead{

       td, th {
         border-left: 1px solid black; /* No more visible border */
         border-right: 1px solid black; /* No more visible border */
         border-top: 1px solid black; /* No more visible border */
         height: 30px;
         transition: all 0.3s;  /* Simple transition for hover effect */
         color: black;
         border-spacing: 0;
         padding: 5px;
         input[type=checkbox]{
          transform: scale(1.5);
        }
     }

     th {
         background: #DFDFDF;  /* Darken header a bit */
         font-weight: bold;
     }

     td {
         background: #FAFAFA;
         text-align: center;
     }
   }



   /* Cells in even rows (2,4,6...) are one color */
   tr:nth-child(even) td { background: #F1F1F1; }

   /* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
   tr:nth-child(odd) td { background: #FEFEFE; }

    }

    .table-Body{
     color: #333;
     font-family: Helvetica, Arial, sans-serif;
     border-collapse: collapse;
     border-spacing: 0;
     width: 100%;
     tbody{

       td, th {
         border-left: 1px solid black; /* No more visible border */
         height: 30px;
         transition: all 0.3s;  /* Simple transition for hover effect */
         color: black;
         border-spacing: 0;
         padding: 5px;
         input[type=checkbox]{
          transform: scale(1.5);
        }
     }

     th {
         background: #DFDFDF;  /* Darken header a bit */
         font-weight: bold;
     }

     td {
         background: #FAFAFA;
         text-align: center;
     }
   }



   /* Cells in even rows (2,4,6...) are one color */
   tr:nth-child(even) td { background: #F1F1F1; }

   /* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
   tr:nth-child(odd) td { background: #FEFEFE; }
   tr:nth-last-child() td { background: #FEFEFE; }

    }


 }

  //Document table start
        .document-Tabel{


          .table-Head{
          color: #333;
          font-family: Helvetica, Arial, sans-serif;
          border-collapse: collapse;
          border-spacing: 0;
          width: 100%;
          thead{

            td, th {
              border-left: 1px solid black; /* No more visible border */
              border-right: 1px solid black; /* No more visible border */
              border-top: 1px solid black; /* No more visible border */
              height: 30px;
              transition: all 0.3s;  /* Simple transition for hover effect */
              color: black;
              border-spacing: 0;
              padding: 5px;
              input[type=checkbox]{
                transform: scale(1.5);
              }
          }

          th {
              background: #DFDFDF;  /* Darken header a bit */
              font-weight: bold;
          }

          td {
              background: #FAFAFA;
              text-align: center;
          }
        }



        /* Cells in even rows (2,4,6...) are one color */
        tr:nth-child(even) td { background: #F1F1F1; }

        /* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
        tr:nth-child(odd) td { background: #FEFEFE; }

          }

          .table-Body{
          color: #333;
          font-family: Helvetica, Arial, sans-serif;
          border-collapse: collapse;
          border-spacing: 0;
          width: 100%;
          tbody{

            td, th {
              border-left: 1px solid black; /* No more visible border */
              height: 30px;
              transition: all 0.3s;  /* Simple transition for hover effect */
              color: black;
              border-spacing: 0;
              padding: 5px;
              input[type=checkbox]{
                transform: scale(1.5);
              }
          }

          th {
              background: #DFDFDF;  /* Darken header a bit */
              font-weight: bold;
          }

          td {
              background: #FAFAFA;
              text-align: center;
          }
        }



        /* Cells in even rows (2,4,6...) are one color */
        tr:nth-child(even) td { background: #F1F1F1; }

        /* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
        tr:nth-child(odd) td { background: #FEFEFE; }
        tr:nth-last-child() td { background: #FEFEFE; }

          }


      }
  //Document table end
      //signaoty table start
      .sign-Tabel{



        .table-Head{
        color: #333;
        font-family: Helvetica, Arial, sans-serif;
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        thead{

          td, th {
            border-left: 1px solid black; /* No more visible border */
            border-right: 1px solid black; /* No more visible border */
            border-top: 1px solid black; /* No more visible border */
            height: 30px;
            transition: all 0.3s;  /* Simple transition for hover effect */
            color: black;
            border-spacing: 0;
            padding: 5px;
            input[type=checkbox]{
              transform: scale(1.5);
            }
        }

        th {
            background: #DFDFDF;  /* Darken header a bit */
            font-weight: bold;
        }

        td {
            background: #FAFAFA;
            text-align: center;
        }
      }



      /* Cells in even rows (2,4,6...) are one color */
      tr:nth-child(even) td { background: #F1F1F1; }

      /* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
      tr:nth-child(odd) td { background: #FEFEFE; }

        }

        .table-Body{
        color: #333;
        font-family: Helvetica, Arial, sans-serif;
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;

        tbody{

          td, th {
            border-left: 1px solid black; /* No more visible border */
            height: 30px;
            transition: all 0.3s;  /* Simple transition for hover effect */
            color: black;
            border-spacing: 0;
            padding: 5px;
            input[type=checkbox]{
              transform: scale(1.5);
            }
        }

        th {
            background: #DFDFDF;  /* Darken header a bit */
            font-weight: bold;
        }

        td {
            background: #FAFAFA;
            text-align: center;
        }
      }



      /* Cells in even rows (2,4,6...) are one color */
      tr:nth-child(even) td { background: #F1F1F1; }

      /* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
      tr:nth-child(odd) td { background: #FEFEFE; }
      tr:nth-last-child() td { background: #FEFEFE; }


        }


    }
      //signaoty table end
  // tables custome css end

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
  *{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
  }
  .App {
    text-align: center;
  }
  .mLeft{
    margin-left: 18px;
  }
  .myform{
    border: 1px solid #52525B;
    background-color: #cccccc;
    font-size: 12px;
    overflow-y: scroll;
    max-height: 900px;
    overflow-x: hidden;
  }


  .main-container{
    margin-top:40px;
    margin-bottom: 40px;
    box-shadow: 8px 10px 8px #52525B;
    padding: 0px;
  }
  .contact-toolbar{
    background-color: #52525b;
    height: 24px;
    padding-left: 5px;
    color: #fff;
    width: 100%;
    margin-left: 0px;
    padding: 0;
  }
  .toolbar-align{
    margin-right: 20px;
    margin-top: 5px;
    margin-left: 10px;
  }
  .signotorydeleteicons{
    margin-left: 10px;
  }
  .saveicons{
    margin: 2px;
    padding: 2px;
    margin-top: 5px;

    }
    .deleteicons{
      margin: 2px;
      padding: 2px;


      }
      .editicons{
        margin: 2px;
        padding: 2px;
      }



       .togglecontrol {
          margin-left: 100px;
           padding: 5px;
           margin-top: -25px;
           display: inline-block;
           position: relative;


       }

       .namemargin {
        margin-top: 15px;
      }

       .container myform{
        font-size: 12px;
      }

  .homephn {
    width: 100px;

  }
  .mobileno {
    width: 100px;
    margin-left:-70px;

  }
  .businessphn {
    width: 100px;
    margin-left:-138px;
  }
  .extension{
    width: 50px;
    margin-left:-203px;
  }
  .faxno{
    width: 100px;
    margin-left:-225px;
  }
  .city{
    width: 150px;
    margin-left: 20px;
  }
  .province{
    width: 150px;
    margin-top: 10px;
    margin-left: 20px;
  }
  .contry{
    width: 150px;
    margin-left: -150px;
  }
  .postalcode{
    width: 150px;
    margin-left: -150px;
    margin-top: 10px;
  }
  .email{
    margin-top: 10px;
  }

    .form-check-box {
    margin-top: 5px;
    margin-left: 2.25rem;
  }
  .form-check-residence{
    margin-top: 0px;
    margin-left: 10px;

  }

  .usericon-align{
    margin-top: 5px;
    margin-left: -25px;
  }
  .edit_ico {
    margin: 6px;
    padding: 2px;
  }

  .align-residence{
    margin-top: 25px;
    margin-left: 20px;

  }
  .align-deceased{
  margin-top: 30px;

  }
  .icons-align{
    margin-top: 0px;
    margin-left: -40px;
    padding:  2px 0 0 30px;


  }

  .custom-form-input{
    margin-bottom: 2px!important;
  }


  tbody{

    max-height: 150px;
    max-width: 1250px;
    overflow-y: scroll;
  }


  .table td{
    min-height: 49px;
  }

  .form-checkbox-align{
    margin-bottom: 20px;


  }
  .checkbox{
    margin-left: 5px;
      margin-top: 2px;
  }
  table{
    margin:0px;
    padding:0px;
  }
  th:first-child {
    width:1px;
  }
  td:first-child
  {

      width:1px;
  }
  td:nth-child(3){
    width:100px;
  }
  td:nth-child(4){
    width:150px;
  }

  th:nth-child(3){
    width:100px;
  }
  th:nth-child(4){
    width:170px;
  }
  thead{
     background-color: rgba(0,0,0, 0.16);
  }

  input[checkbox]{
    transform: scale(2);

  }
  table input[type=checkbox]{
    transform: scale(0.8);

  }
  .form-check-input {
    width: 20px !important;
    height: 20px !important;
    margin-top: -0.2rem;
    margin-left: -15px;
  }

    .plusicon{

      padding: 2px;
      margin: 2px;
      margin-left: 72px;
    }
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #e9ecefc7;
  }
  .togglespan{
    padding-top: 7px;
    display: inline-block;
  }


  .toggleupperspace{
    padding-top:25px;
    margin-left: 25px;
  }
  .labelposition{
    margin-right: 20px;
  }
  .table thead th{
    vertical-align: initial;
  }
  .form-check-align{
    padding-left: 1rem;
  }
  .contactcolsize{
    max-width: 150px;
  }
  .tax{
    max-width: 150px;
  }
  .marigin{
    border: none;
    height: 1px;
    background-color:rgba(33, 33, 33, 0.75);
  }
  label {
    display: inline-block;
    margin-bottom: -0.5rem;
  }

  .fa-folder:before {
    content: "\f07b";
    margin-left: 72px;
  }
  .form-control-te {
    width: 107%;
    margin-bottom: 20px;
  }
  .required{
    color: red!important;
  }

  .table{

    margin-bottom: -1rem;

  }

  .tableborder{
    padding: 15px;
      padding-right: 8px;
      margin-top: -34px;

  }



}